extends baseEmail

block content
  p Hey #{name},
  p Congratulations!
  p It was so much fun reviewing your application! We were quite impressed with the quality of your work and attitude, it really stood out to us.
  p We would love to hear more  about your successes, goals, and potential talents in the Interview Round. Please make sure you fill slots as soon as possible.
  p Book your Slot Here - https://calendly.com/blockchainclubsrm/recruitments-technical
  p Regards
  p Blockchain Club, SRM