extends baseEmail

block content
  p Hey #{name},
  p Blockchain Club SRM Presents to you an interactive session on Blockchain, Crypto, DeFi and about all the applications related to it.
  p Don’t miss out on this opportunity to hear in-depth about everything from none other than Mr. Aishwary Gupta, the Growth Head of POLYGON, one of the biggest startups in Blockchain originating from India.
  p Get this QR code scanned by the volunteers present at the venue on 13th of June at TP GANESHAN MINI HALL 1.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  img(src=`${url}` alt='Attendance Qr Code')
  p OD and Certificates along with refreshments will be provided to only those who get this QR Code Scanned at the Venue.
  p Sponsoring the event we have, 
  p Kana Labs - A DeFi super app that aggregates the best of Solana & Neon Protocol apps in a single mobile platform
  p Kryxivia - Alpha Tester recruitment and first view of the beta gameplay of Kryxivia.io an MMMORPG
  p - Blockchain Club, SRM